.grid{
display: grid;
grid-template-rows: 200px repeat(10,auto) 100px;
grid-template-columns: repeat(10,10%);
font-family: Roboto;
font-size: 17px;
margin: 0;
padding: 0;
}

.header{
grid-column: 1/11;
grid-row: 1/2;
}

.nav{
display: flex;
flex-direction: row;
justify-content:center;
gap: 60px;
padding: 20px 0px;
grid-column: 1/11;
grid-row:2/3;
background-color:#544BDB;
}

.main{
grid-column:1/11;
grid-row:3/9;
}

.footer{
grid-column: 1/11;
grid-row:9/13;
display: flex;
flex-direction: row;
gap: 600px;
background-color:#544BDB;
color:white;
padding: 30px;
}


a:link {
  color: white;
}

a:visited {
color: orange;
}

/* Background Images for different sections*/

.main{
background-image: url("images/new-bg-vertical-resized.jpg");
}


/* background images ends here */

img {
  /* Rounds the corners slightly */
  border-radius: 20px;
}

th,td {
  /* The black border */
  border: 1px solid #000000;

  /* Space between the text and the border */
  padding: 30px;
}

table {
  /* The black border */
  border: 1px solid #000000;
}

section {
  overflow: hidden;
}