html {
  scroll-behavior: smooth;
  scroll-padding-top: 130px; /* height of your sticky header */

}

::-webkit-scrollbar {
  width: 8px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: orange;
}

p{
font-family:Verdana;
font-size: 20px;
line-height: 35px;
}

ul,ol{
font-family:Verdana;
font-size: 15px;
line-height: 35px;
}

.grid{
display: grid;
grid-template-rows: repeat(12,auto);
grid-template-columns: repeat(10,10%);
font-family: Roboto;
font-size: 17px;
margin: 0;
padding: 0;
}

.header{
grid-column: 1/11;
grid-row: 1/2;
background-color: #544BDB;
  position: sticky;
  top:0;
  border-bottom: 10px solid orange;
}


.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav .nav-item {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0rem 18rem 0rem 0rem;
}

.nav .logo {
  justify-self: flex-start;
  padding: 0rem 0rem 0rem 7rem;

}

.nav-item a{
padding: 0px 10px;
text-decoration: none;
}

.main{
grid-column:1/11;
grid-row:2/9;
}

.footer{
grid-column: 1/11;
grid-row:9/13;
display: flex;
flex-direction: row;
flex-wrap:wrap;
gap: 20rem;
background-color:#544BDB;
color:white;
padding: 150px 40px;
 position: relative;
}

.footer a{
text-decoration:none;
color:white;
}

aside{
position: fixed;
bottom:2%;
left:95%;
}

.hero-sec{
display: flex;
flex-wrap: wrap;
}

.features-sec-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-self: center;
}

.features-sec-and-features-wheel{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.features-sec-and-features-wheel img{
align-self:center;
justify-self:center;
}

.future-of-library-sec{
background-color:#544BDB;
color:white;
}

.comparative-table-sec{
display: grid;
grid-template-columns: auto auto;
}

article{
border: 1px solid #544BDB;
margin: 10px;
padding: 15px;
background-color:#544BDB;
color:white;
box-shadow: 15px 15px gray;
}

h2{
display:inline;
font-size: 60px;
font-family: 'Bebas Neue', sans-serif;
}

h3{
font-size: 30px;
font-family: 'Bebas Neue', sans-serif;
}

a:link {
  color: white;
}

a:visited {
color: orange;
}

/* Background Images for different sections*

.main{
background-image: url("images/new-bg-vertical-resized.jpg") no repeat center center fixed;;
}

background images ends here */

th,td {
  /* The black border */
  border: 1px solid white;

  /* Space between the text and the border */
  padding: 30px;
}

table {
  /* The black border */
  border: 1px solid black;
  border-collapse: collapse;
  color: #FFFFFF;
  box-shadow: 15px 15px gray;
}

section {
  overflow: hidden;
  padding: 2rem;
}

.hero-sec{
padding: 10px 0;
margin:0;
background-color: black;
}

.hero-sec-img-gallery img{
border: 2px solid orange;

}

#comp-table{
text-decoration: underline;
text-decoration-color: orange;
text-decoration-thickness: 0.58rem;
}

figcaption{
text-align:left;
font-size: 20px;
margin-top: 20px;
}

.video-sec{
padding:0px;
}

.video-sec video {
  width: 100%;
  height: auto;
  display: block;
}

.video-sec figure {
  margin: 0;
  padding: 0;
}

#welcome-sec-logo{
float:left;
margin: 0px 10px 10px 10px;
}


.hero-sec-img-gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.hero-sec-img-gallery img:hover{
transform:scale(1.25);
transition: ease 0.6s;
}

.hero-sec img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

label{
display:none;
}

.testimonial-text{
display:inline-block;
font-size: 50px;
text-decoration:underline;
text-decoration-color:orange;
}

.testimonials-heading{
display:block;
margin:0;
padding:0;
}

.testimonial-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-self: center;
}

svg{
fill: white;
vertical-align: middle;

}

h2 svg{
fill: #544BDB;
}

h3 svg{
fill:orange;
}

.future-lib-sec{
vertical-align: top;
fill: orange;
}

.testimonials-h2-container{
display:flex;
flex-wrap:wrap;
}

.testimonial-svg-icon{
fill:orange;
}

.testimonial-card{
display:grid;
grid-template-columns: 3fr 1fr;
gap: 4rem;
}

.reviewer-image{
  border: 4px solid orange;
  width: 250px;
  height: 250px;       /* force equal width and height */
  object-fit: cover;   /* crops the image to fit */
  border-radius: 50%;  /* makes it a circle */
  }

.reviewer-name{
text-align: center;
}

/* your footer content */
address, nav {
    position: relative;  /* needed for z-index to work */
    z-index: 1;          /* bring content to front */
}

.welcome-sec, .hero-sec , .features-sec ,
.features-sec-and-features-wheel , .comparative-table-sec ,
.future-of-library-sec , .testimonials-sec {

margin: 5rem 0rem 4rem 0rem;

}