.grid{
display: grid;
grid-template-rows: 200px repeat(10,auto) 100px;
grid-template-columns: repeat(10,10%);
}

.header{
grid-column: 1/11;
grid-row: 1/2;

}

.nav{
grid-column: 1/11;
grid-row:2/3;

}

.main{
grid-column:1/11;
grid-row:3/9;

}

.author-bio{
grid-column: 1/11;
grid-row:9/10;
}

.table-of-contents{
grid-column: 1/11;
grid-row:10/11;

}

.footer{
grid-column: 1/11;
grid-row:11/12;
}

@media screen and (min-width: 40em) {

.main{
grid-column:1/8;
grid-row:3/9;

}

.author-bio{
grid-column: 8/11;
grid-row:3/4;
}

.table-of-contents{
grid-column: 8/11;
grid-row:4/5;

}

.footer{
grid-column: 1/11;
grid-row:9/12;
}

}

@media screen and (min-width: 64em) {

.main{
grid-column:1/8;
grid-row:3/9;

}

.author-bio{
grid-column: 8/11;
grid-row:3/4;
}

.table-of-contents{
grid-column: 8/11;
grid-row:4/5;

}

.footer{
grid-column: 1/11;
grid-row:9/12;
}

}

p {
  /* The blue border */
 /* border: 2px solid #000000; */

  /* Space between the text and the border */
  padding: 15px;

  /* Space outside the box to separate it from other elements */
  margin: 10px 0;

  /* Rounds the corners slightly */
  border-radius: 4px;


}

img {

  /* Rounds the corners slightly */
  border-radius: 20px;

}

h1 {

  /* Space between the text and the border */
  padding: 15px;

  /* Space outside the box to separate it from other elements */
  margin: 10px 0;

  /* Rounds the corners slightly */
  border-radius: 4px;

  /* Optional: adds a very light blue background to help it stand out */
  background-color:#E0DC8D

}

h2,h3,h4 {


  /* Space between the text and the border */
  padding: 15px;

  /* Space outside the box to separate it from other elements */
  margin: 10px 0;

  /* Rounds the corners slightly */
  border-radius: 4px;

  /* Optional: adds a very light blue background to help it stand out */
  background-color:#E0DC8D

}




article {

  /* Space between the text and the border */
  padding: 15px;

  /* Space outside the box to separate it from other elements */
  margin: 10px 0;

  /* Rounds the corners slightly */
  border-radius: 4px;

}

aside {


  /* Space between the text and the border */
  padding: 15px;

  /* Space outside the box to separate it from other elements */
  margin: 10px 0;

  /* Rounds the corners slightly */
  border-radius: 4px;

  /* Optional: adds a very light blue background to help it stand out */
  background-color: #E0DC8D;

}


a {
  /* Space between the text and the border */
  padding: 15px;

  /* Space outside the box to separate it from other elements */
  margin: 10px 0;

  /* Rounds the corners slightly */
  border-radius: 4px;
}

.nav {


  /* Space between the text and the border */
  padding: 15px;

  /* Space outside the box to separate it from other elements */
  margin: 10px 0;

  /* Rounds the corners slightly */
  border-radius: 4px;

    /* Optional: adds a very light blue background to help it stand out */
    background-color: #DBE3BC;

}

header {


  /* Space between the text and the border */
  padding: 15px;

  /* Space outside the box to separate it from other elements */
  margin: 10px 0;

  /* Rounds the corners slightly */
  border-radius: 4px;

  /* Optional: adds a very light blue background to help it stand out */
  background-color: #DBE3BC;
}

footer {


  /* Space between the text and the border */
  padding: 15px;

  /* Space outside the box to separate it from other elements */
  margin: 10px 0;

  /* Rounds the corners slightly */
  border-radius: 4px;

  /* Optional: adds a very light blue background to help it stand out */
  background-color: #DBE3BC;
}

dl,ul {


  /* Space between the text and the border */
  padding: 30px;

  /* Space outside the box to separate it from other elements */
  margin: 10px 0;

  /* Rounds the corners slightly */
  border-radius: 4px;


}

th,td {
  /* The black border */
  border: 1px solid #000000;

  /* Space between the text and the border */
  padding: 30px;
}


table {
  /* The black border */
  border: 1px solid #000000;
}

body {
  /* Optional: adds a very light blue background to help it stand out */
  background-color: #FFFFFF;
}

details{
  /* The black border */
  border: 1px solid #000000;

  /* Space between the text and the border */
  padding: 20px;

    /* Space outside the box to separate it from other elements */
    margin: 10px 0;
}